		:root {
			 --bs-body-color: #2e3440;
			 --bs-body-bg: #eceff4;
			 --bs-secondary-color: #3b4252;
			 --bs-secondary-bg: #d8dee9;
			 --bs-tertiary-bg: #e5e9f0;
			 --bs-primary: #5e81ac;
			 --bs-dark: #2e3440;
			 --bs-btn-bg: #5e81ac;
			 --bs-body-font-family: "Fantasque Sans Mono";
		}

		.header {
			background-color: #eceff4;
			color: #2e3440;
		}
		#splash-img {
			background: url("../images/cpucity.png") center / cover no-repeat;
			background-color:#444;
			background-blend-mode: overlay;


		}
		.white {
			color: #eceff4;
		}
		.footer {
		`	background-color: #2e3440;
		}
		.frame {
			background-color: #d8dee9;
		}
		.non-select {
			user-select: none;
		}
		@media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {
            body {
                overscroll-behavior-y: contain;
            }
		}
