@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nova+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: 'Iosevka';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@5.3.0/latin-400-normal.woff2) format(woff2),
	url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@5.3.0/latin-400-normal.woff) format('woff');
}


:root {
	--bs-body-color: #2e3440;
	--bs-body-bg: #eceff4;
	--bs-secondary-color: #3b4252;
	--bs-secondary-bg: #d8dee9;
	--bs-tertiary-bg: #e5e9f0;
	--bs-primary: #5e81ac;
	--bs-dark: #2e3440;
	--bs-btn-bg: #5e81ac;
	--bs-body-font-family: "Cabin", Montserrat;
}

.header {
	background-color: #eceff4;
	color: #2e3440;
}

#splash-img {
	background: url("../images/cpucity.png") center / cover no-repeat;
	background-color:#444;
	background-blend-mode: overlay;
}

.white {
	color: #eceff4;
}

.footer {
	`	background-color: #2e3440;
}

.frame {
	background-color: #d8dee9;
}

.non-select {
	user-select: none;
}

@media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {
	body {
		overscroll-behavior-y: contain;
	}
}


html !important, body !important {
	font-family: Cabin;
	width: 100%;
	height: 100%;
}

.content {
	padding: 40px 15px;
}

.bg-dark {
	background-color: #2e3440;
}

.title.tridentu-logo-text {
	font-family: Iosevka, Montserrat, Cabin;
	font-variant-caps: unicase;
	text-transform: uppercase;
}

.hero-title {
	font-family: Nova Mono, Cabin, Montserrat;
}
