---
title: Release Notes
home: true
layout: default
---

<h3>Releases</h3>

{% for category in site.categories %}
  {% if category[0] == 'releases' %}
      {% for post in category[1] %}

    <div class="col-6">
      <div class="card text-center">
         <div class="card-body">
            <h5 class="card-title">
                  {{ post.title }}
            </h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
        </div>
          <div class="card-footer text-body-secondary">{{ post.date | date_to_string: "ordinal", "US"  }}</div>
      </div>
   </div>
  {% endfor %}
   {% endif %}
{% endfor %}
