---
layout: default
title:  'Welcome'
---
<div class="d-flex min-vh-100" id="splash-img">
	<div class="align-self-center text-center text-light col-md-8 offset-md-2">
		<div class="d-block mb-4">
			<div editable="rich">
				<h1 class="display-1 fw-bolder">Tridentu Linux</h1>
			</div>
		</div>

		<div class="lc-block">
			<div editable="rich">
				<p class="lead">A Linux distro made from scratch for the desktop - all while looking good doing it.</p>

			</div>
		</div>

		<div class="d-block">
			<svg onclick="this.closest('section').nextElementSibling.scrollIntoView({ behavior: 'smooth'  });" width="4em" height="4em" viewBox="0 0 16 16" class="text-light" fill="currentColor" xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon">
				<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
				<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
			</svg>

		</div>
	</div>
</div>

<!--<div id="splash-img" class="hero fullscreen hero-img parallax-img">
  <div class="hero-body">
    <div class="content">
      <h1 class="uppercase white title">Welcome to Tridentu Linux!</h1>
      <h3 class="uppercase white sub-title faded">
        Tridentu Linux is a Linux Distro made from scratch for the terminal (and the desktop) - all while looking good doing it.
      </h3>
    </div>
  </div>
</div>-->
<div class="divider" data-content="Key Traits"></div>
<div class="row">
  <div class="col-4">
    <div class="frame hover-grow">
      <div class="frame__header">
       <h6 class="uppercase frame__title">Simple</h6>
        <p class="uppercase frame__subtitle">And Effective</p>
      </div>
      <div class="frame__body">
        Tridentu provides a simple desktop/terminal setup for those who want something that works and that feels famiiar.
      </div>
    </div>
  </div>
    <div class="col-4">
    <div class="frame hover-grow">
      <div class="frame__header">
       <h6 class="uppercase frame__title">Bloat-free</h6>
        <p class="uppercase frame__subtitle">To an extent</p>
      </div>
      <div class="frame__body">
        Anything that's optional (meaning not needed for Tridentu to be Tridentu) is packaged using Caravel - Tridentu's own package manager/format.
      </div>
    </div>
    </div>
   <div class="col-4">
    <div class="frame hover-grow">
      <div class="frame__header">
       <h6 class="uppercase frame__title">Beautiful</h6>
        <p class="uppercase frame__subtitle">With Nord</p>
      </div>
      <div class="frame__body">
        Tridentu comes with beautiful, Nord-themed visuals - visuals that usually feel natural for the distro.
      </div>
    </div>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="hero bg-blue-600">
      <div class="hero-body">
        <div class="content">
          <h2 class="title white">Not convinced?</h2>
          <h5 class="subtitle text-gray-300">Check out the features for more on this OS.</h5>
          <a href="/features" class="btn btn-animated">View Features</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero">
  <div class="hero-body">
    <h2 class="content text-black u-text-center">Blog</h2>
  </div>
</div>
<div class="row">
{% for post in paginator.posts %}
   <div class="col-4">
      <div class="card slide-up">
        <div class="card__container">
          <a href="{{ post.url }}" class="card__image" style="background-color: #4643e2;"></a>
        </div>
        <div class="card__mobile-title">
            <div class="content">
                <div class="tile">
                    <div class="tile__container">
                        <p class="tile__title">{{ post.title }}</p>
                        <p class="tile__subtitle">By {{ post.author }}</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="card__body content">
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="card__footer content">{{ post.date | date_to_string: "ordinal", "US"  }}</div>
      <div>
   </div>
   </div>
   </div>
{% endfor %}

</div>
<div class="row">
  <div class="col-12">
  <div class="pagination no-bullets">
      <div class="pagination-item pagination-prev">
          {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="u-block">
                    <p class="pagination-item-subtitle">Previous</p>
                    <h5 class="m-0">{{ paginator.page }} of {{ paginator.total_pages }}</h5>
                </a>
          {% else %}
                <span class="pagination-item-subtitle u-block">Previous</span>
          {% endif %}

      </div>
      <div class="pagination-item pagination-next">
        {% if paginator.previous_page %}
              <a href="{{ paginator.next_page_path }}" class="u-block">
                  <p class="pagination-item-subtitle">Next</p>
                  <h5 class="m-0">{{ paginator.page }} of {{ paginator.total_pages }}</h5>
              </a>
        {% else %}
              <span class="pagination-item-subtitle u-block">Next</span>
        {% endif %}
    </div>
  </div>
  </div>
  </div>
