
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css" >
   <meta name="viewport" content="height=device-height, initial-scale=1.0, user-scalable=no">
   <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4-web/css/all.min.css"/>
   <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eceff4">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2e3440">

	<link rel="stylesheet" href="/css/tridentu-styles.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
	<link rel="manifest" href="/manifest.webmanifest">
</head>
<body>
 <header class="header header-fixed u-unselectable header-animated">
   <div class="header-brand">
	   <div class="nav-item no-hover">
	       <img src="/images/tridentur.svg" width="32" height="32" />
		   <a><h6 class="title">Tridentu Linux</h6></a>
	   </div>
	   <div class="nav-item">
		   <a href="/">
			Home
		   </a>
	   </div>
	   <div class="nav-item">
		   <a href="/features">
			Features
		   </a>
	   </div>
	   <div class="nav-item">
		   <a href="/tridentu-wiki">
			Wiki
		   </a>
	   </div>
	   <div class="nav-item">
		   <a href="/changelogs">
			Release Notes
		   </a>
	   </div>
	   <div class="nav-item nav-btn" id="header-btn">
		   <span></span>
		   <span></span>
		   <span></span>
	   </div>
</div>
	 
</header>
<div class="row h-20p"></div>
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </div><!-- /.container -->  
	<footer class="footer">
		<h3 class="footer__title uppercase white">Tridentu</h3>
		<div class="content">
			<div class="divider"></div>
			<div class="row">
				<div class="col-4">
					<ul class="no-bullets">
						<a href="/">
							<li class="footer__list-item">Home</li>
						</a>
						<a href="/features">
							<li class="footer__list-item">Features</li>
						</a>
						<a href="/tridentu-wiki">
							<li class="footer__list-item">Wiki</li>
						</a>
					</ul>
				</div>
				<div class="col-4">
					<ul class="no-bullets">
						<a href="https://github.com/Tridentu/tridentu/issues">
							<li class="footer__list-item">Issue Tracker</li>
						</a>

				</div>
			</div>
			
		</div>
		<p class="subtitle">Copyright (C) 2022</p>
	</footer>
	<script>
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/sw.js');
			});
		}
	</script>
</body>
</html>
